### IntelliJ IDEA ###
app/out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# IDEs
.idea/
*.iml

# Build artifacts
/build/

# Kotlin specific
*.kotlin_metadata

# Gradle
.gradle/
build/
gradle
app/gradlew
app/gradlew.bat

# OS-specific
Thumbs.db

# Logs
*.log

# Arquivos de estado do Terraform
*.tfstate
*.tfstate.*

# Backup de plano
*.tfplan

# Diretório de cache do Terraform
.terraform/

# Arquivos de override
*.override.tf
*.override.tf.json

# Logs e outputs locais
crash.log
terraform.tfvars
terraform.tfvars.json

# Lock file
.terraform.lock.hcl